
body{
    background-color: rgb(155,224,186);
    margin: 0;
}
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
.navlogo{
    height: 80px;
    position: relative;
    margin:0px;
    margin-top:px
}
#navbar{
    height: 80px;
    width: 100%;
    background-color: rgba(203, 230, 156, 0.895);
    display:flex;
    justify-content: space-around;
    font-family: 'Passion One';
    position: relative;
    top: 0px;
    margin: 0;
}
#navbar a{
    color: rgb(1,93,52);
    margin-top: 28px;
    font-size: 1.5em;
    text-transform: uppercase;
}
#navbar a:hover{
    color:white;
}
.container{
    display: flex;
    float: right;
    width: 1600px;
}
p{
    font-size: 30px;
    padding: 100px;
}
h1{
    display: flex;
    justify-content: center;
    font-size: 50px;
}
.container1{
    width: 1500px;
    display: flexbox;
    justify-content: center;
}
.img1{
    margin: 40px;
}


