h1{
    display: flex;
    justify-content: center;
}
p{
    display: flex;
    justify-content: left;
    padding: 20px;
    margin: 0;
    width: 500px;
}
img{
    display: flex;
    justify-content: right;
}
body{
    background-color: rgb(155,224,186);
    margin: 0;
}
.navlogo{
    height: 80px;
    position: relative;
    margin:0px;
    margin-top:px
}
#navbar{
    height: 80px;
    width: 100%;
    background-color: rgba(203, 230, 156, 0.895);
    display:flex;
    justify-content: space-around;
    font-family: 'Passion One';
    position: relative;
    top: 0px;
    margin: 0;
}
#navbar a{
    color: rgb(1,93,52);
    margin-top: 28px;
    font-size: 1.5em;
    text-transform: uppercase;
}
#navbar a:hover{
    color:white;
}
