body{
    background-color: rgb(155,224,186);
    margin: 0;
}

.navlogo{
    height: 80px;
    position: relative;
    margin:0px;
    margin-top:px
}
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
.navlogo{
    height: 80px;
    position: relative;
    margin:0px;
    margin-top:px
}
#navbar{
    height: 80px;
    width: 100%;
    background-color: rgba(203, 230, 156, 0.895);
    display:flex;
    justify-content: space-around;
    font-family: 'Passion One';
    position: relative;
    top: 0px;
    margin: 0;
}
#navbar a{
    color: rgb(1,93,52);
    margin-top: 28px;
    font-size: 1.5em;
    text-transform: uppercase;
}
#navbar a:hover{
    color:white;
    
}

h1{
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'lalezar';
    text-transform: uppercase;
    font-size: 5em;
    text-decoration: underline;
}

.Truck {
    width:600px;
    height: 400px;
    padding:15px; 
    margin: 5px;
}

.Word {
    display: grid;
    position:relative;
    top: -250px;
    right: -650px
}

.Para {
    display: grid;
    position:relative;
    width : 350px;
    top: -250px;
    right: -650px;
}

.Move {
    text-align: center;
}

.Tetra {
    margin: 25px;
    font-weight: normal;
    padding-left: 40px;
    text-decoration:underline;
}

.Green {
    margin: 25px;
    line-height: 10pt;
}

.Separate {
    font-weight: normal;
    text-align: right;
    top:-223px;
    display: grid;
    position: relative;
    padding-right: 200px;
    text-decoration:underline;

}

.Forms {
    display:inline-block;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.Next {
    text-align: right;
    top: -210px;
    display: grid;
    position: relative;
    padding-right: 50px;
}