body{
    background-color: rgb(155,224,186);
    margin: 0;
}
#navbar{
    height: 50px;
    width: 100%;
    background-color: rgb(203,230,156);
    display:flex;
    
}
.baritems{
    color: rgb(1,93,52);

}