body{
    background-color: rgb(155,224,186);
    margin: 0;
}
.navlogo{
    height: 80px;
    position: relative;
    margin:0px;
    margin-top:px
}
#navbar{
    height: 80px;
    width: 100%;
    background-color: rgb(203,230,156);
    display:flex;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 0px;
    margin: 0;
}
#navbar a{
    color: rgb(1,93,52);
    margin-top: 28px;
}
}
.baritems{
    color: rgb(1,93,52);

}