body{
    background-color: rgb(155,224,186);
    margin: 0;
}
.navlogo{
    height: 80px;
    position: relative;
    margin:0px;
    margin-top: 2px
}
#navbar{
    height: 80px;
    width: 100%;
    background-color: rgb(203,230,156);
    display: flex;
    background-color: rgba(203, 230, 156, 0.895);
    display:flex;
    justify-content: space-around;
    font-family: 'Passion One';
    position: relative;
    top: 0px;
    margin: 0;
}
#navbar a{
    color: rgb(1,93,52);
    margin-top: 28px;
    font-size: 1.5em;
    text-transform: uppercase;
}
#navbar a:hover{
    color:white;
}

.Container {
    display:flex;
    gap: 1rem;
    margin-top:10%;
}

.recycling {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.two {
    width: 300px;
    height: 186px

}



.three {
    width: 300px;
    height:186px;
    

}


/* I have to figure out how to not make box 3 go off the browser*/

.Box1 {
    width: 500px;
    height: 300px;
    background-color: white;
    grid-row: 1;
    grid-column: 1;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 12px 12px 2px 1px rgba(64, 64, 82, 0.2);
   /*please don't delete position: absolute;
    margin-left: auto;
    right: 525px;
    top: 300px;*/
}


.Box2 {
    width: 500px;
    height: 300px;
    background-color: white;
    grid-row:1;
    grid-column: 2;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 12px 12px 2px 1px rgba(64, 64, 82, 0.2);
   /* please don't delete position:absolute;
    right: 1000px;
    top: 300px;
    background-color:white;*/
}

.Box3 {
    width: 500px;
    height: 300px;
    background-color: white;
    grid-row:1;
    grid-column: 3;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 12px 12px 2px 1px rgba(64, 64, 82, .2);
   /* please don't delete position: absolute;
    left: 1000px;
    top:300px;*/
}



