body{
    background-color: rgb(155,224,186);
    margin: 0;
}
.navlogo{
    height: 80px;
    position: relative;
    margin:0px;
    margin-top:px
}
#navbar{
    height: 80px;
    width: 100%;
    background-color: rgb(203,230,156);
    display:flex;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 0px;
    margin: 0;
}
#navbar a{
    color: rgb(1,93,52);
    margin-top: 28px;
}

.Container {
    display: grid;
    gap: 1rem;
    grid-template-rows: auto;
    margin-top:10%
}

/* I have to figure out how to not make box 3 go off the browser*/

.Box1 {
    width: 300px;
    height: 500px;
    background-color: white;
    grid-column: 1;
    margin-left: auto;
    margin-right: auto;
    animation-name: example;
    animation-duration: 5s;
    animation-delay: 2s;
    animation-iteration-count: 1;
    animation-direction: normal;
    position:relative;
   /*please don't delete position: absolute;
    margin-left: auto;
    right: 525px;
    top: 300px;*/
}

@keyframes example {
    0% {background-color: white; left: 0px;}
    25% {background-color: white; left: 200px;}
    50% {background-color: white; left: 200px;}
    75% {background-color: white; left: 0px;}
    100% {background-color: white: left: 0px;}
    
   
}

.Box2 {
    width: 300px;
    height: 500px;
    background-color: white;
    grid-column:2;
    margin-left: auto;
    margin-right: auto;
    animation-name:two;
    animation-duration: 5s;
    animation-delay: 2s;
    animation-iteration-count: 1;
    animation-direction: normal;
    position: relative ;
   /* please don't delete position:absolute;
    right: 1000px;
    top: 300px;
    background-color:white;*/
}

@keyframes two {
    0% {background-color: white; left: 0px;}
    25% {background-color: white; left: 200px;} 
    50% {background-color: white; left: 200px;}
     75% {background-color: white; left: 0px;}
     100% {background-color: whitecrimson: left: 0px;}

  
    
}

.Box3 {
    width: 300px;
    height: 500px;
    background-color: white;
    grid-column:3;
    margin-left: auto;
    margin-right: auto;
    animation-name:three;
    animation-duration: 5s;
    animation-delay: 2s;
    animation-iteration-count: 1;
    animation-direction: normal;
    position: relative;
   /* please don't delete position: absolute;
    left: 1000px;
    top:300px;*/
}

@keyframes three {
    0% {background-color: white; left: 0px;}
    25% {background-color: white; left: 200px;} 
    50% {background-color: white; left: 200px;}
    75% {background-color: white; left: 0px;}
    100% {background-color: white; left: 0px;}  
}