body{
    background-color: rgb(155,224,186);
    margin: 0;
}
.navlogo{
    height: 80px;
    position: relative;
    margin:0px;
    margin-top: 2px
}
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
#navbar{
    height: 80px;
    width: 100%;
    background-color: rgb(203,230,156);
    display: flex;
    background-color: rgba(203, 230, 156, 0.895);
    display:flex;
    justify-content: space-around;
    font-family: 'Passion One';
    position: relative;
    top: 0px;
    margin: 0;
}
#navbar a{
    color: rgb(1,93,52);
    margin-top: 28px;
    font-size: 1.5em;
    text-transform: uppercase;
}
#navbar a:hover{
    color:white;
}

.Container {
    display:flex;
    gap: 1rem;
    margin-top:10%;
}

.recycling {
    width: 300px;
    height:190px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.two {
    width: 300px;
    height: 186px

}

.Para {
    width: 300px; 
}


.three { 
    width: 300px;
    height:186px;
}

.Cart {
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/* I have to figure out how to not make box 3 go off the browser*/

.Box1 {
    width: 300px;
    height: 400px;
    background-color: white;
    grid-row: 1;
    grid-column: 1;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 12px 12px 2px 1px rgba(64, 64, 82, 0.2);
    background-color: rgb(217, 243, 243);
   /*please don't delete position: absolute;
    margin-left: auto;
    right: 525px;
    top: 300px;*/
}


.Box2 {
    width: 300px;
    height: 400px;
    background-color: white;
    grid-row:1;
    grid-column: 2;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 12px 12px 2px 1px rgba(64, 64, 82, 0.2);
    background-color: rgb(217, 243, 243);
   /* please don't delete position:absolute;
    right: 1000px;
    top: 300px;
    background-color:white;*/
}


.Box3 {
    width: 300px;
    height: 400px;
    background-color: white;
    grid-row:1;
    grid-column: 3;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 12px 12px 2px 1px rgba(64, 64, 82, .2);
    background-color: rgb(217, 243, 243);
   /* please don't delete position: absolute;
    left: 1000px;
    top:300px;*/
}



